{% extends  "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
{% if characters_count %}
<h1>Total number of characters {{characters_count}}</h1>
{% endif %}
{% endblock %}


{% block body %}
<div style=" text-align: center">
    <h1>Here you can start a game and check my work!</h1>


    <button type="link" class="btn btn-primary text-center start-game" style="visibility:visible">
        Start the game!
    </button>

    <br>
    <br>

    <div class="answer-container" style="visibility:hidden">
        <!--<h1 class="question-text" style="visibility:hidden">Question: {{ question_text }}</h1>-->
        <h1 class="question-text">Question: {{ question_text }}</h1>
        <!--<form class="question-form" style="visibility:hidden">-->
        <form class="question-form">
            <!--    <input type="hidden" name="question" value="{{ question }}"/>-->
            <label class="checkbox-label"><input type="radio" name="answer" value="1" required/> Yes</label><br/>
            <label class="checkbox-label"><input type="radio" name="answer" value="0" required/> No</label><br/>
            <label class="checkbox-label"><input type="radio" name="answer" value="0.5" required/> Don't
                know</label><br/>
            <label class="checkbox-label"><input type="radio" name="answer" value="0.75" required/>
                Probably</label><br/>
            <label class="checkbox-label"><input type="radio" name="answer" value="0.25" required/> Probably Not</label><br/>
            <br/>
            <button type="submit" class="btn btn-primary next-question">
                Next question
            </button>

        </form>
    </div>

    <!--    <div class="user-finish-answer-container" >-->
    <div class="user-finish-answer-container" style="visibility:hidden">
        <h3 class="user-predicted-character-name">Hello sdlfkj</h3>
        <ul>
            <li class="user-predicted-yes">
                <input type='radio' value='1' name='radio' id='radio_yes'/>
                <label for='radio_yes'>Да, совпадает</label>
            </li>
            <li class="user-predicted-no">
                <input type='radio' value='0' name='radio' id='radio_no' />
                <label for='radio_no'>Нет не совпадает, ввести своего:)</label>
            </li>

            <div class="user-predicted-no-add-buttons" style="visibility:hidden">
                <li>
                    <label>
                        <input type='text' value='1' name='user_character_name' class="user-character-name-input"/>
                    </label><br>
                </li>
                <button type="submit" class="btn btn-primary save-user-character-button" >
                    Сохранить моего пользователя
                </button>

            </div>
            <div class="character-image " >
                <image></image>
            </div>

        </ul>
    </div>

    <br>
    <br>
    <!--<div class="character-image " style="visibility:hidden">-->


</div>


{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/handers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/constants.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
<script type="text/javascript" src="{% static 'js/start_game.js' %}"></script>
<script type="text/javascript" src="{% static 'js/game.js' %}"></script>
{% endblock %}